
@{
    ViewData["Title"] = "GetGroups";
}

@model List<GroupModel>

<h2>Gruplar</h2>
<div class="row">
    <div class="col-md-12">
    <div id="progress">
        <div class="table-responsive">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Grup İsmi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
                <tr>
                    <td>@group.Id</td>
                    <td>@group.Name</td>
                </tr>
        }
    </tbody>
</table>
</div>
</div>
</div>
</div>

